/* File: styles/globals.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #63b0e5;
}

body {
  color: var(--primary);
}

.main-content {
  background: linear-gradient(
    0deg,
    rgba(254, 242, 242, 1) 0%,
    rgba(254, 226, 226, 1) 100%
  );
}

.plan-card {
  background-color: var(--primary-yellow);
  transition: all 0.3s;
}

.plan-card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.events-section {
  background-color: #fca5a5;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d1d5db;
  margin: 0 4px;
}

.dot.active {
  background-color: #000;
}

.animated-btn {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.grid-pattern {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 25% 25%;
} */
